<% var data = {
  title: "Frontend Developer",
  author: "Catherine"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="content">
    <section class="section active home" id="home">
        <div id="particles-js"></div>
        <div class="name">
            <span id="typed"></span>
        </div>
    </section>
    <section class="section about-me" id="about-me">
        <div class="container">
            222
        </div>
    </section>
    <section class="section skills" id="skills">333</section>
    <section class="section contacts" id="contacts">444</section>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>