<% var data = {
  title: "Frontend Developer",
  author: "Catherine"
}; %>

<!-- ********** HEADER ********** -->

<%= _.template(require('./../includes/header.html'))(data) %>

<!-- ********** MAIN CONTENT ********** -->
<div class="content">
    <!-- ********** HOME SECTION ********** -->
    <%= _.template(require('./../includes/home.html'))(data) %>
    <!-- ********** ABOUT ME SECTION ********** -->
    <%= _.template(require('./../includes/about-me.html'))(data) %>
    <!-- ********** SKILLS SECTION ********** -->
    <%= _.template(require('./../includes/skills.html'))(data) %>
    <!-- ********** CONTACT SECTION ********** -->
    <%= _.template(require('./../includes/contact.html'))(data) %>
</div>

<!-- ********** FOOTER ********** -->

<%= _.template(require('./../includes/footer.html'))(data) %>