.header {
    position: fixed;
    width: 160px;
    height: 100%;
    top: 0;
    bottom: 0;
    padding: 10px 0 0;
    background-color: #fff;
    overflow: auto;
    z-index: 11;
    .header-content {
        padding: 15px 0;
        text-align: center;
    }
    .logo {
        width: 100px;
        background-image: url(/uploads/ava.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100px;
        display: block;
        margin: 0 auto 30px;
    }
    h2 {
        font-family: $font-main;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 30px;
    }
    .nav ul {
        li {
            border-top: 1px solid #EDEDEE;
            a {
                width: 100%;
                height: 100%;
                display: block;
                font-size: 14px;
                font-family: $font-main;
                font-weight: 300;
                text-decoration: none;
                color: $main-color;
                padding: 15px 0;
                &:hover,
                &:focus {
                    color: $black;
                }
            }
        }
        li.active-nav {
            a {
                background-color: #fcfcfc;
            }
        }
    }
}