.home {
  background: url("/uploads/home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position:fixed;
  top:0;
  left:0;
  min-width:100%;
  min-height:100%;
  .name {
    position: absolute;
    top: 50%;
    left: 42%;
    span {
      font-size: 34px;
      font-family: $font-main;
      font-weight: 700;
      color: #fff;
    }
  }
}